{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{% block meta_title %}Monochro-me{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}数学とLaTeXと, 時々, オトン{% endblock %}">
    <meta name="google-site-verification" content="BiJ8rQhlLfXLctzZyDykVmzTiYW3oQ1xEpneFH8i_Co" />
    <link rel="stylesheet" href="{% static 'myindex/style.css' %}">
</head>
<body>

{% block content %}{% endblock %}

</body>
</html>